body{
font-family: cursive;
margin: 0;
line-height: 27px;
}
h1,h2,h3,h4,h5,h6,p,ul{
  margin: 0;padding: 0;
}
.heading{
  font-family:Algerian ;
  font-size: 38px;
  color: red;
  text-align: center;
  background-color:silver;
  padding-bottom: 3%;
  background: url(../images/best.jpg);
  background-repeat: repeat;

}
li{
  list-style: none;
  padding-top: 10px;
}
header{
  width:100%;
}
.bm{
  width: 100%;
}
.navigation{
  background:gray;
  color: blue;
  text-align: center;
  width:100%;
  background: url(../images/img.jpg);
  background-repeat: repeat;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;

}

.photo img{
  width: 6em;
  border-radius: 10px;
}
.photo img:hover{
  transform: rotate(360deg);
  transition: transform 1.5s ease-in-out;
}
.navigation ul{
  display: inline-flex;
  flex-direction:row;
  justify-content:space-around;
  padding-top: 20px;
}
.navigation ul li{
  font-size: 20px;
  font-family: cursive;
  padding: 5%;
  margin: 0  3%;
}
.navigation ul li:hover{
  background: skyblue;
}
.linkedin a img{
  width: 30px;
  height: 30px
  width: 25px;
   height: 25px;
   -webkit-transition: width 2s, height 2s;
    transition: width 2s, height 4s;
  }
  .linkedin :hover{
    width: 35px;
    height: 35px;
}
section{
  background: url("../images/damno.gif");
  background-repeat:no-repeat;
  width: 100%;
}
.about p{
  float: right;
}
footer{
  display: inline-flex;flex-direction: row;
  background:white;
  width: 100%;
  padding-top: 1%;
  background: url(../images/img.jpg);
  background-repeat: repeat;
}
footer .rrr h3{
  text-align: center;
  padding-left: 300px;
}
footer .rr h3{
  text-align: right;
  padding-left: 300px;
}
