/*
  Name: Ritesh Phuyal;
  UN Id : 17425082;
  
*/
body{/*this is a body of my webpage*/
font-family: cursive;
margin: 0;
}
h1,h2,h3,h4,h5,h6,p,ul{
  margin: 0;padding: 0;
}
.heading{
  font-family: Algerian;
  font-size: 38px;
  color: red;
  text-align: center;/*to make my heading in center */
  padding-bottom: 3%;
  background: black;
}
header{
  width:100%;/*this is width of header*/
}
.navigation{/*this is navigation part*/
  color: blue;
  text-align: center;
  width:100%;
  background: url(../images/img.jpg);
  background-repeat: repeat;/*background image will repeat */
  display: flex;
  flex-direction: row;/* to make section row */
  justify-content: space-around;
}

.photo img{
  width: 6em;
  border-radius: 10px;/* the photo will be round at */
}
.photo img:hover{
  transform: rotate(360deg);
  transition: transform 1.5s ease-in-out;/*the photo will rotate */
}
.navigation ul{
  display: flex;
  flex-direction:row;/*navigation will be in row */
  justify-content:space-around;
  padding-top: 20px;
}
.navigation ul li{
  list-style: none;
  margin: 10%;
}
.navigation a{
  text-decoration: none;/*the text decoration will be null*/
   line-height: 45px;
}
.navigation ul li:hover{
  background: black;/*the navigation bar will be black while you put curser*/
  border-radius: 8px;
}
.navigation a:hover{
  color: red;/*color of word of navigation will be red*/
}
section{
  background: url("../images/sun.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;


}
.section{
  display: flex;
  flex-direction: row;/*navigation will be in row */
  justify-content:space-between;
  color: white;
  width: 100%;
  padding-bottom:20%;
}
.cv{
  background-repeat:no-repeat;
  width: 32%;
}
.cv p{
  padding-left: 10px;
  padding-right: 2px;

}
.cv h2{
  color: rgb(100, 130, 115);/*color of head*/
  padding-left: 10px;
}

footer{
  display: flex;flex-direction: row;/*using flex property flex will cone in straight line as u mention 
  weather inrow or column*/
  background: black;
    background: url(../images/img.jpg);
  background-repeat: repeat;

}
.link a img{
  width: 30px;
  height: 30px
  width: 25px;
   height: 25px;
   -webkit-transition: width 2s, height 2s;
    transition: width 2s, height 4s;
    padding-left: 5%;/*image will move in given time*/
  }
  .link :hover{/*image will become larger while you touch by courser */
    width: 35px;
    height: 35px;
}
.linkedin{
margin: 0% 2% 0% 0%;
padding-left: 5%;
width: 33%;
}
.linkedin h3{
  color: green;
  padding-left: 5%;
}
.copyright{
color: green;
width: 33%;
font-size: 20px;
text-shadow: 3px 3px 3px darkred;/*this show shadow on text */
padding-left: 5%;
}
.map{
margin: 0% 10% 0% 10%;
width: 33%;
}
.map img{
  width: 200px;
  height: 100px;
}
.map h2{
  color: green;
  font-family: algerian;
}
.all
{
  display: flex; flex-direction: row;
}
.r{
  animation: front 4s infinite;
  animation-timing-function: ease-out;/*animation done here where logo will move as instruction*/
 position: relative;
}
.p{
  animation: back 4s infinite;
  animation-timing-function: ease-out;/*same as above in .r*/
  position: relative;
}
.r img{
  width: 100px; 
  margin: 15% 20% 0% 0%;
}
.p img{
  width: 100px;
  margin: 15% 0% 0% 40%;
}
@keyframes front{/*this is a instruction given to move in which direction
  and how much to move*/
  from{left:0px;}
  to{left:20px;}
}
@keyframes back{/*same as above instruction in front*/
  from{right:0px;}
  to{right:20px;}
}
@media screen and (max-width: 480px){
  body{/*this is for mobile view*/
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.heading{
  font-size: 38px;
  width: 100%;
}
header{
  width:100%;
}
.navigation{
  color: blue;
  text-align: center;
  width:100%;
  background: url(../images/img.jpg);
  background-repeat: repeat;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;

}

.photo img{
  margin: 1%;
}
.navigation ul{
  display: flex;
  flex-direction:column;/*navigation will be in colume*/
  margin-top: 0%;
}
.navigation ul li{
  font-size: 20px;
  font-family: cursive;
  padding: 0%;
  margin: 0  0%;

}

section{
  background: url("../images/sun.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;


}
.section{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  color: white;
  width: 100%;
  padding-bottom:20%;
}
.cv{
  background-repeat:no-repeat;
  width: 100%;
   padding: 0% 0% 0% 0%;
   color:black;
}
.cv p{
 text-align: center;
 text-align: justify;
 width: 90%;

}
.cv h2{
  color: rgb(100, 130, 115);
  text-align: center;
  color: white;

}
footer{
  display: flex;flex-direction: column;
  background: black;
    background: url(../images/img.jpg);
  background-repeat: repeat;

}
.link a img{
  width: 30px;
  height: 30px
  width: 25px;
   height: 25px;
   -webkit-transition: width 2s, height 2s;
    transition: width 2s, height 4s;
}
.linkedin{
margin: 0% 0% 0% 0%;
padding-left: 0%;
width: 100%;
}
.linkedin h3{
  color: green;
}
.copyright{
color: red;
width: 100%;
font-size: 20px;
text-shadow: 3px 3px 3px darkred;
margin: 2% auto auto 0%;
}
.copyright p{
color: green;
}
.map{
width: 90%;
}
.map img{
  width: 60%;
  height: 80%;
}
.map h2{
  color: green;
  font-family: algerian;
}
.r{
  animation: front 4s infinite;
  animation-timing-function: ease-out;
 position: relative;
 width: 30%;
}
.p{
  animation: back 4s infinite;
  animation-timing-function: ease-out;
  position: relative;
  width: 30%;
}
.r img{
  width: 80px; 
  margin: 0% 0% 0% 20%;
}
.p img{
  width: 80px;
  margin: 0% 0% 0% 40%;
}
@keyframes front{
  from{left:0px;}
  to{left:20px;}
}
@keyframes back{
  from{right:0px;}
  to{right:20px;}
}
